[2016-07-09 19:14] MichaelHillcox opened #1 "Refactor all the things"
Refactor everything! Well not everything but most things that need it!

[2016-07-10 10:31] MichaelHillcox opened #2 "Feedback on new look"
Any feedback on the new look would be awesome. I will continue to update this page with new screenshots. This is the progress i've made so far.

![screenshot](https://i.gyazo.com/30ec280c45f184868643a7b5110f034d.png)

[2016-07-10 15:14] slottybon commented on #2
Looks good. How about sans-serif only and no shadows (form elements) or gradients (table header)? I would go with "Trebuchet MS" as a web safe font.

![selection_009](https://cloud.githubusercontent.com/assets/20265856/16714150/f50faa8a-46ba-11e6-9a91-79b56f89ce41.png)

[2016-07-10 15:18] MichaelHillcox commented on #2
@slottybon Thanks for the feedback.
Still got lots of work to do with the tables. They are not great pulse tables kinda suck. So I may be looking at replacing them at some point.

I am slowly removing all the gradients too. This is not 2002 anymore. Flat design is the future ( boy how thats going to change haha ). I have changed the font to Roboto. Its the font from android. I am looking at altern

[2016-10-16 13:05] wassie opened #3 "new version?"
hi Michael,

Is there a new or updated version of Echelon? Are you still developing? I'm really curious about your progress.

[2016-10-16 14:02] MichaelHillcox commented on #3
@wassie Logically the master branch is just development at this point. I don't want people running experimental code. I've not made any changes to database structure or to how the core functionality of echelon work. Therefor if you wanted to. You could pull down my code and deploy it using an existing branch. Although clearly, I would not support this idea because its all experimental. Basically u

[2016-10-16 20:58] wassie commented on #3
@MichaelHillcox great it still has your attention! :)
Is there a fund that I can use to encourage in this project?

[2016-10-17 02:08] MichaelHillcox commented on #3
@wassie not as of this moment no. I've got some paid work that's taking a lot of my time up :P I'm available for paid work if you need specific things done to your echelon /sites. What do you use echelon for (game)?

[2016-10-17 18:23] wassie commented on #3
@MichaelHillcox,  good old Call of Duty United Offensive.
The things that I would like are already in the issues. But I guess that I can't affort you for hiring you for making Echelon better

[2016-10-18 12:48] MichaelHillcox commented on #3
Well this iteration of echelon is going to be a lot better than the last one. Im looking at a stable build very soon. Could you possibly duplicate your b3 database and empty the columns with sensitive data? I only have cod4 to test against at the moment.

[2017-01-30 11:05] wassie commented on #3
hi Michael, did you make any progress last months on the new Echelon?

[2017-01-30 14:30] MichaelHillcox commented on #3
@wassie I've taken on Echelon v2 as my main development branch and I've been working on a cleaner and much easier to use interface. If you want you can pull my master branch and load it up on one of your databases ( Please be sure to dupe your echelon and b3 database and use the copies instead of your production ones ). Currently not much has changed under the hood. I've moved some things into leg

[2017-01-30 14:59] wassie commented on #3
great @MichaelHillcox , looks really good :)
I got a test server running so I could try to test it on my test environment! So I can just pull it and install it? Or do I need to take care of creating tables or anything?

[2017-01-30 15:11] MichaelHillcox commented on #3
@wassie Just use an already existing database ( echelon database ). You can run the installer but you'll have to modify the config to make sure installed != true or what ever. :)

[2017-01-30 15:23] wassie commented on #3
@MichaelHillcox for my production environment I created a single database outside of my game server, and therefor outside of the B3 database. From that domain I connect to the game server and read the B3 table. Is this also possible with this version?

[2017-01-30 16:55] MichaelHillcox commented on #3
So you have a second server for your mysql stuff? hit me up on Discord (MiKeY
#3704), Steam ( http://steamcommunity.com/id/aokmikey ), or my email. ( hello.michaelhillcox@gmail.com / mikey@pxg.me ). Take a pick. Of course DM's are much faster. I can help you through getting it set up to use and play around with.

[2017-01-31 11:01] wassie opened #4 "Link isn't right"
after the installation of version v.2.0b.2, a link 'how to use Echelon guide' is been showing in the 'What do I do next?' part. This link isn't working and gives an error

[2017-01-31 11:02] wassie opened #5 "Text thing v.2.0b.2"
after login (for the first time) I have noticed a spelling mistake. In the welcome line '.........now all you need to do is good to the 'Echelon' tab in the.......' the word 'good' should be 'go'.

[2017-01-31 11:03] wassie opened #6 "Navigation issue in v.2.0b.2, no Echelon tab showing"
there isn't a Echelon tab in 'navigation above'. I see only 'Home' and 'Admin'. That means that I can't go any further in testing Echelon because I can't setup the link to the B3 database.

[2017-01-31 11:03] wassie opened #7 "B3 profile isn't accessible in v.2.0b.2"
When clicking on the Admin I should be able to change my profile and the B3 profile. Only the my profile can be changed. The B3 profiles isn't accessible.

[2017-01-31 16:57] MichaelHillcox commented on #6
Are you using a Admin account? Is this before or after installing? Anymore info into how you go to this point. I need some more info on this one :)

[2017-01-31 16:58] MichaelHillcox commented on #5
Thanks, I'll get that fixed 👍

[2017-01-31 17:08] MichaelHillcox commented on #4
Does it direct to a local site or go to echelon.b3 something something?

[2017-01-31 18:00] wassie commented on #6
yes, I'm using an admin account. This is after installing and just after deleting the install directory with ftp. After that I activated the admin email and then I login as admin. I hope this printscreen will help:
![2017-01-31_18-58-19](https://cloud.githubusercontent.com/assets/17354054/22477694/51589180-e7e7-11e6-9a92-23070e469ff2.jpg)

[2017-01-31 18:01] wassie commented on #4
I can't reproduce that again, but I think it's linking to something like echelon.b3....

[2017-01-31 19:45] MichaelHillcox commented on #6
I'll check it out. Thanks :)

[2017-02-02 00:09] MichaelHillcox opened #8 "Migrate Looks over to Bootstrap"
A large task that can be done alongside refactoring everything. It will greatly improve the looks of the site.

[2017-02-07 05:58] efinst0rm opened #9 "Changing User Permission"
When changing user permission / admin level from clientdetails.php you will get a "Hack Attempt Detected".

[2017-02-07 17:31] MichaelHillcox commented on #9
I've removing that entire system. Are you running on 2.1 or 2?

[2017-02-08 02:22] efinst0rm commented on #9
I'm running 2.1.0.1.

[2017-02-21 12:25] wassie commented on #6
hi Michael, did you made any changes yet that I can test?

[2017-02-24 05:38] efinst0rm commented on #9
Quick update if you look at line 263 in clientdetails.php and change. `<button type="submit" name="level-sub" class="btn btn-default">Change Level</button>` to`<input type="submit" name="level-sub" class="btn btn-default" value="Change Level" />` The form will then work just fine.

[2017-02-24 16:47] MichaelHillcox commented on #7
@wassie Where you able to edit your b3 profile before hand in the older versions of echelon?

[2017-02-24 16:49] MichaelHillcox commented on #6
@wassie Does your profile have permission to clients? if not then you won't be able to see them. The nav is restricted by your permission set. Make sure you have clients in that permission set. ( this goes for the rest too. )

[2017-02-24 17:10] MichaelHillcox commented on #5
Fixed, Also update your config file to match the one on the github repo. You're on an old version by the look of things.

[2017-02-24 17:10] #5 closed

[2017-02-24 17:11] MichaelHillcox commented on #9
@efinst0rm Thanks for the heads up :) Fixed: https://github.com/MichaelHillcox/Echelon/commit/f0c1e569b8157b8b94fd89cc7deecad6633a8b90

[2017-02-24 17:11] #9 closed

[2017-02-24 17:11] MichaelHillcox commented on #4
Fixed https://github.com/MichaelHillcox/Echelon/commit/f0c1e569b8157b8b94fd89cc7deecad6633a8b90

[2017-02-24 17:11] #4 closed

[2017-02-26 16:34] wassie commented on #6
@MichaelHillcox what do you mean by permission to clients? After the first setup of Echelon, as a new install, the menu suggest that I could access and/ or add B3 profiles from the admin menu item. But I still can't use that menu item (B3 profiles) and therefor I can't setup any games. I have tried this in Firefox and in Chrome. With the old Echelon 2 I can add a new game server and fill in all B3

[2017-02-26 16:35] wassie commented on #6
if I try to click the B3 profiles menu item, it navigates to the 'My profile' area.

[2017-02-26 16:55] MichaelHillcox commented on #6
@wassie https://github.com/MichaelHillcox/Echelon/blob/master/echelon/app/views/global/header.php#L101 this line shows why the menus are not showing up for yourself. For some reason, it would seem that you account is not an administrators.

[2017-02-26 16:56] MichaelHillcox commented on #6
@wassie https://github.com/MichaelHillcox/Echelon/blob/master/echelon/app/views/global/header.php#L184 This is why the b3 profile does not work. It's not yet a thing :P

[2017-02-26 19:52] wassie commented on #6
@MichaelHillcox how can a admin account not be an administrator? that is strange, specially when the account is created for the first time and the only account.
When I check the database, ech_users, the admin user is in ech_group 2. Does that help?

[2017-02-26 20:38] wassie commented on #7
the first time when you install Echelon, you can setup B3 credentials. After that you can change things in screen attached.

![2017-02-26_21-37-25](https://cloud.githubusercontent.com/assets/17354054/23343438/d65a2ab8-fc6b-11e6-908f-c21804bf1f00.jpg)

[2017-03-19 16:25] wassie commented on #6
hi Michael, did you made any progress with this issue? Can I see somewhere in the database if the admin account has the proper rights? I would love to work with the new Echelon!

[2017-05-10 06:44] wassie commented on #6
hi Michael, any progress on developing Echelon? I'm really curious to the result!

[2017-05-20 16:31] #6 closed

[2017-05-20 16:32] MichaelHillcox commented on #6
@wassie Thank you so much for pointing this out to me. This has now be fixed. I had shitty logic going on her but it's now fixed ❤️  you're awesome. Thanks for testing

[2017-05-20 16:32] MichaelHillcox commented on #6
@wassie as for progress. It's slow but I'm trying to get some of the issues fixed now :)

[2017-05-20 16:33] MichaelHillcox commented on #7
This should be fixed with #6 Could you confirm?

[2017-05-20 19:15] wassie commented on #6
@MichaelHillcox , I really appreciate all your work! Glad you still got this project in your scope!

Did you release a new beta version that I can test to confirm if the issues are solved?

[2017-05-20 19:45] MichaelHillcox commented on #6
Because of how unstable this system is ( as I've been finding out ) I'm not going to open up any official releases but you can go here https://github.com/MichaelHillcox/Echelon/tree/6334236210ceee9501ca2d3bc4f76e77b8f5166e and click on `Clone or Download` and download the zip. If you've already got the bugged version set up then you should just be able to do a drag and drop upgrade.

[2017-05-20 19:50] wassie commented on #6
so no database changes at all? And by drag and drop you mean with ftp uploading files and overwrite the new ones, right?

[2017-05-20 19:54] MichaelHillcox commented on #6
Yeah, also no database changes.

[2017-05-20 20:03] wassie commented on #6
thanks, will give it a shot and let you know any issues!

[2017-05-23 17:46] wassie commented on #7
The B3 profile still isn't accessible. Could it be that you only can use this option when having multiple B3 accounts, or profiles?

[2017-05-23 17:48] wassie commented on #6
this issue can be closed. I confirm that there is a navigation bar in the header! Good job!

[2017-05-23 17:49] wassie commented on #2
the design looks fresh and neat! Thanks a lot for all your designing work!

[2017-05-23 17:55] wassie opened #10 "db password isn't encrypted"
the b3 database password is plain text. Could that be more secure?

[2017-05-23 17:57] wassie opened #11 "error after adding a game"
after adding a game to Echelon, I get an error. See attachment.

![afbeelding](https://cloud.githubusercontent.com/assets/17354054/26368461/fb4778f2-3ff1-11e7-9f4a-9ea6f244784f.png)

[2017-05-23 19:11] wassie opened #12 "Locked Out!"
after trying to update the game settings, it wont let me update them and enable XLRstats and chatlog. After several times I get this message and I have to unlock myself thru the database.

Locked Out!

You have been locked out of Echelon for repeated hacking attempts. This ban is permanent. If you feel that you should not be banned please contact the site admin.

[2017-05-23 19:15] wassie opened #13 "After the first time adding a game, can't change settings"
After the first time adding a game, can't change settings of the game because it isn't showing in game settings. As you can see the game settings are saved in the database:

![afbeelding](https://cloud.githubusercontent.com/assets/17354054/26371999/c4f078b6-3ffc-11e7-8b1f-b1c67b694eea.png)

![afbeelding](https://cloud.githubusercontent.com/assets/17354054/26371980/b7acc614-3ffc-11e7-9694-7fb4c3512

[2017-05-24 13:09] MichaelHillcox commented on #7
I'm still very lost on what this is meant to be. Could you take a screenshot of the old echelon to show me what's no longer accessable

[2017-05-24 13:09] MichaelHillcox commented on #2
:heart:

[2017-05-24 13:12] MichaelHillcox commented on #10
No unfortunately not. I could do a simple encryption but it would only help a little bit. Id also not want to have to decrypt the db details everytime I want to connect to it. The simplest thing I can think to do is more the config out of the db and put it on a flat file storage system instead. Basically saved in a file instead of the db. There is security implications no matter how you look at th

[2017-05-24 13:13] MichaelHillcox commented on #11
Could you get me the exact URL when that happens.

[2017-05-24 13:15] MichaelHillcox commented on #12
I'm removing this whole systems

[2017-05-24 13:16] MichaelHillcox commented on #13
I'll look into it :)

[2017-05-24 13:29] #11 closed

[2017-05-24 13:32] wassie commented on #7
I see that I have created some confusion.... sorry for that.
What I mean is that in the new version of Echelon, you have in the upper right corner a menu item with the username in it. If you click on that menu item, you see a dropdown menu with profile and games. Under games you have the option 'B3 profiles'. That option show a small icon (red circle with a line) and the option isn't clickable, wh

[2017-05-24 13:33] wassie commented on #10
agreed. I just noticed it, and you are the developer and call the shots :)

[2017-05-24 13:36] MichaelHillcox commented on #7
No, this feature hasn't yet been added. I need to make it not clickable :P

[2017-05-24 13:36] wassie commented on #11
it's handled by http://www.XXXX.XX/echelon/settings-games.php

[2017-05-24 13:37] wassie commented on #12
are you moving the security part or the plugin part?

[2017-05-24 13:38] wassie commented on #7
I see, so no bug and can be closed then :)

[2017-05-24 13:38] #7 closed

[2017-05-24 13:45] MichaelHillcox commented on #12
Security part. Sorry that wasn't clear. I'm removing the entire Locked Out shit because it's useless if the original developer just put 6 seconds into making actual security.

[2017-05-24 13:46] MichaelHillcox commented on #10
Personally I feel like moving it outside of the database would be an added (small) layer of security to stop people getting database access if they find a way to dump the database. I'll look into it :)

[2017-05-24 13:47] MichaelHillcox commented on #11
Alright, this should be fixed.

[2017-05-24 14:00] wassie commented on #12
it does suck if you need to remove the  database line for getting access again :) So totally agreed!

[2017-05-24 14:05] MichaelHillcox commented on #13
d67faaa should have fixed this issue.

[2017-05-24 14:37] wassie commented on #13
great, what file(s) should I replace?

[2017-05-24 17:41] wassie opened #14 "database error"
After your updates in the app directory, I have logged off, upload the app directory and tried to logon again, but get this message:
![afbeelding](https://cloud.githubusercontent.com/assets/17354054/26417225/dc0b8d58-40b8-11e7-819c-997d53d653f4.png)

what am I doing wrong?

[2017-05-24 18:06] wassie opened #15 "after new install"
I had some database errors so I did a complete fresh install. Till adding a new game, all went well. But after adding a new game, I got this error:

![afbeelding](https://cloud.githubusercontent.com/assets/17354054/26418402/62624f92-40bc-11e7-9368-ba8f4fa81e49.png)
It seems its looking for a log file, but can't find it.

[2017-05-24 18:06] wassie commented on #15
this is the url when it shows the error: actions/settings-game.php

[2017-05-24 18:46] MichaelHillcox commented on #14
Looks like you've replaced your config.php file with mine... maybe? check and make sure that the config file is set up correctly

[2017-05-24 22:09] slottybon commented on #13
replace the ones that were edited. You can see what changed in which files in every commit: https://github.com/MichaelHillcox/Echelon/commit/d67faaa7d1f07aacf534355c5a47ef2b0d624917
So it'd be:
'actions/settings-game.php'
and
'settings-game.php'

[2017-05-25 08:48] wassie commented on #11
can't confirm this yet because issue #15 is blocking for testing this.

[2017-05-25 08:51] wassie opened #16 "admin email"
after the first install, I don't receive an email with login credentials. Not sure if that has something to do with my hosting environment or that the email isn't send.

[2017-05-25 17:48] MichaelHillcox commented on #16
Does your hosting services support emailing from the server and have you got send emails set to yes / true in the config.php file.

[2017-05-25 18:01] MichaelHillcox commented on #15
If that doesn't work then it's more likely that the issues is on your side due to the app either being set up wrong of if the directory that is trying to be written to does not have the correct permissions.

[2017-05-25 18:02] MichaelHillcox opened #17 "Add deeper integration with B3 Management."
That. Basically open up echelon a little but to allow more b3 management functionality.

[2017-05-25 18:03] MichaelHillcox opened #18 "Fix any issues that might exist with CoD4x18 servers implementations."

[2017-05-25 22:19] wassie commented on #15
well, I just did a clean install and there wasn't a .bin directory. So I created it and also created the logfile. But I think it would be good if it was already there.

[2017-05-25 22:20] wassie commented on #16
both questions are answered with yes. the old Echelon did send the email and it is within the same hosting package.

[2017-05-25 22:26] wassie opened #19 "can't read information from chatlogger"
can't read information from chatlogger. it seems that Echelon can't read the chatlog table :

![afbeelding](https://cloud.githubusercontent.com/assets/17354054/26472989/26a0a4ca-41a9-11e7-9516-6a3db1514896.png)

![afbeelding](https://cloud.githubusercontent.com/assets/17354054/26473099/c4f313c4-41a9-11e7-8fe7-afefc715c6d9.png)

[2017-05-26 14:20] MichaelHillcox commented on #16
Then I shall have a look into it for you.

[2017-05-26 14:22] MichaelHillcox commented on #19
Please double check that you've set up a b3 db and that you've entered the correct mysql table names in the settings area.

[2017-05-26 15:09] wassie commented on #19
it looks like if I can't choose the chatlog table in you Echelon.

Current Echelon:
![afbeelding](https://cloud.githubusercontent.com/assets/17354054/26500313/bfa99104-4235-11e7-87c1-fe15d000dfe7.png)

Your Echelon:
![afbeelding](https://cloud.githubusercontent.com/assets/17354054/26500353/e02d67fc-4235-11e7-9adc-aaf148a5735a.png)

I think it has something to do with connecting to the B3 database,

[2017-05-26 15:11] wassie commented on #16
it would be helpful if the email was send successfully, it would wright a line in the log file. is that possible?

[2017-05-26 15:46] #16 closed

[2017-05-26 15:46] MichaelHillcox commented on #16
Gunna go ahead and close this. I've think i've found what I did wrong.

[2017-05-26 18:07] #19 closed

[2017-05-26 18:07] MichaelHillcox commented on #19
@wassie That should be fixed now. Can you confirm

[2017-05-26 18:09] MichaelHillcox commented on #15
I think this is now fixed. Can you confirm?

[2017-05-26 18:44] wassie commented on #16
To be able to test if the admin email is send, I deleted all tables and all files. I have downloaded all files from Git, import the sql file in the echelon database and hit the install. After that I see a better looking setup page. Good job!
When I fill in all needed fields and hit the install button, I get an error page.
![afbeelding](https://cloud.githubusercontent.com/assets/17354054/26508155/d

[2017-05-26 18:50] wassie commented on #16
by the way, when checking the database, I do see several records been added to the ech_config table.

[2017-05-26 23:00] MichaelHillcox commented on #16
That's for another issue :P I'm half aware of the issue

[2017-05-27 17:32] wassie commented on #15
is also waiting for issue #16 for continuing testing.

[2017-05-27 17:32] wassie commented on #19
is also waiting for issue #16 for continuing testing.

[2017-05-27 18:01] MichaelHillcox commented on #15
@wassie #16 has been fixed

[2017-05-27 18:07] wassie commented on #15
ok, I will download and re-install again and let you know

[2017-05-27 18:09] MichaelHillcox commented on #15
The installer has been completely redesigned. Tell me what you think :)

[2017-05-27 18:12] wassie commented on #15
still got the fatal error after a complete clean install, so can't continue and test:

![afbeelding](https://cloud.githubusercontent.com/assets/17354054/26523475/b62d6ff4-4318-11e7-995a-8de2ab4213ab.png)

[2017-05-27 18:14] MichaelHillcox commented on #15
Hmm? That would mean your config.php file exists in the app folder. Just delete it and run the install.

[2017-05-27 18:14] wassie commented on #15
if I use the 'Go back' url, something goes wrong with redirect:
http://www.MYDOMAINNAME.com/home/wass01/domains/MYDOMAINNAME.com/public_html/echelonnew/login.php

[2017-05-27 18:15] MichaelHillcox commented on #15
The Fatal Error page is on the bleeding edge side of new. I've not run my normal tests on the current master branch. Small issues like that might still exist.

[2017-05-27 18:18] wassie commented on #15
even when I delete the config.php file in the app folder, I get the same error (after clearing the database). It does make a new config.php file in app dir, tho

[2017-05-27 18:24] MichaelHillcox commented on #15
That error should only ever show if you've already installed Echelon and you've navigated yourself into the /install directory.

[2017-05-27 18:34] MichaelHillcox commented on #15
Something is also pretty clearly out of date because that error doesn't look like that ![](https://i.imgur.com/8dPar6q.png)

[2017-05-27 18:59] wassie commented on #15
Okay, let me tell the test scenario:
- I cleared the database
- I cleared the echelon directory
- I imported the sql file
- I downloaded the latest files from Git and uploaded all files into the echelon directory
- I run the installer
- I fill in all credentials, like email address, password and database credentials
- after the confirmation, I get the error, but the ech_config table has saved the

[2017-05-27 19:20] MichaelHillcox commented on #15
5f4b617604135005debcc58e5b5c617f2c5b3087 as of that commit everything should now be working again. I recreated your exact install steps and found myself hitting errors too. They should now be fixed. Please tell me if you have any more issues 👍

[2017-05-27 19:32] MichaelHillcox commented on #15
eb9b527 Correction. This commit has fully fixed all the issues you've mentioned.

[2017-05-27 19:47] wassie commented on #15
ok, the error is gone and the installation did go well. After deleting the install dir and trying to login with my credentials, it wouldn't accept my username and password, saying it was wrong. After the second time,  I used the password forget option. The email was send, I clicked the url (http://www.MYDOMAIN.comlogin.php/?t=reset&key=d338e9f137f07e7b63c164204333fb42a9ad8b40&email=MY@EMAIL.COM) a

[2017-05-27 19:50] wassie commented on #17
what sort of management functionality have you put in?
And is the world player map a part of it?

[2017-05-27 19:52] MichaelHillcox commented on #15
You no longer get the first email because the first email was to simply send you your user and pass but now I allow you to set that yourself you no longer need that first email.

The other issue I have no clue about. It's most likely this part http://www.MYDOMAIN.com(
this part is missing a `/`    )login.php/?t=reset&key=d338e9f137f07e7b63c164204333fb42a9ad8b40&email=MY@EMAIL.COM

Can you send me

[2017-05-27 19:59] MichaelHillcox commented on #17
The world player map is very much a side project so that is basically at the bottom of the priority list.
Echelon in it's self only manages the top level basic functionality of b3 so I want to add things like

- being able to live ban people that are currently in the game.
- Showing a list of players that are in the game.
- Improving the client list to also show is currently online
- Allow editing

[2017-05-27 20:05] wassie commented on #15
define("PATH", "/echelonnew/");

I also tried the url, with replacement of my own stuff, but still doesn't work. If I add 'echelonnew' after the .com/ it does work and after adding a new password, I can login!

[2017-05-27 20:10] wassie opened #20 "ech_games db_name is empty"
after adding a game to Echelon, I have noticed that the db_name is empty in ech_games table. All other fields are having values, except db_name. Is that why I can't choose the chatlog table in chat log plugin page?

![afbeelding](https://cloud.githubusercontent.com/assets/17354054/26524120/3d7a104c-4329-11e7-902a-7430b10bb8c3.png)

[2017-05-27 20:12] wassie commented on #20
asking the question is answering the question :)
I manually added the db_name into the database, went back to the chat log plugin page, added the mysql table name and name, confirmed and now  I see the chatlog information.
I seems to be that the db_name field isn't adding the value.

[2017-05-27 20:22] wassie opened #21 "navigate in chatlog"
this is still one of my wishes. is it possible to add the possibility of navigation in chatlines? I can't see how many chatlines are showing, but it would be great if you can go back further with the use of navigation. And even in the personal chatlog of a player. is that possible?

[2017-05-27 20:30] MichaelHillcox commented on #21
I'm working on giving plugins the ability to use the built in pagination system but i've yet to find time for this work. I'll be remaking the chat logger plugin soon so I'll add this to the todo list.

[2017-05-27 20:30] MichaelHillcox commented on #15
Okay, Can you make a new issue as this one has somewhat turned into something completely new? I will also look into this for you.

[2017-05-27 20:33] MichaelHillcox commented on #15
@wassie Should all be fixed with that commit. Looks like the $path was being supplied incorrectly from the last developer.

[2017-05-27 20:55] MichaelHillcox commented on #20
00bc429 Should now allow you to edit the game to be able to add the db_name again. I've check the code and this shouldn't logically be happening but does sometimes. I'm going to do more testing and I've got to restructure the entire game selecting code because it's literal cancer. The noted commit so simple a temp fix until I can fix it properly.

[2017-05-27 22:48] wassie commented on #17
sounds great!

[2017-05-27 22:49] wassie commented on #21
great!

[2017-05-28 16:49] MichaelHillcox commented on #20
This should be fixed now.

[2017-05-28 16:49] #20 closed

[2017-05-28 16:49] #15 closed

[2017-05-28 16:49] MichaelHillcox commented on #14
Any update on this? I'm going to close this issue until I get some conformation.

[2017-05-28 16:49] #14 closed

[2017-05-28 16:50] MichaelHillcox commented on #8
This is completely done now. There might be a page or two missing it but I'm sure I'll update them as I find them.

[2017-05-28 16:50] #8 closed

[2017-05-28 16:51] #3 closed

[2017-05-28 16:51] MichaelHillcox commented on #2
Thank you everyone that commented ❤️

[2017-05-28 16:51] #2 closed

[2017-05-28 16:51] MichaelHillcox commented on #1
Making good progress with this :)

[2017-05-28 16:52] MichaelHillcox commented on #13
This should all be fixed now so I'm going to close this issue until I get some conformation

[2017-05-28 16:52] #13 closed

[2017-05-31 16:59] MichaelHillcox opened #22 "Create / Implement a Router"
Need to dump up dem specs so a PHP Router would be a good place to start.

[2017-05-31 17:01] MichaelHillcox opened #23 "Implement a Template engine"
This would be beneficial for making the views a lot cleaner.

[2017-05-31 17:24] wassie commented on #20
ok, I didn't did a clean install, but if it's necessary again, I will test it.

[2017-05-31 17:26] wassie opened #24 "After logout, perm lockout"
when I use the logout function in the rightcorner, I get the message that I'm lockout. I have to unlock myself thru database

![afbeelding](https://cloud.githubusercontent.com/assets/17354054/26645028/02380d5c-4637-11e7-8ff9-bf3c5129af89.png)

[2017-05-31 17:32] MichaelHillcox commented on #24
Does this issue persist?

[2017-05-31 17:43] wassie commented on #20
so I have done the clean install, just to test them issues :)

After adding the chatlog table in the chatlogger plugin, I now see that the chat records and also a success message. But I see also an error message. So I'm a bit confused if the adding is successful or not.

![afbeelding](https://cloud.githubusercontent.com/assets/17354054/26645713/5de153fa-4639-11e7-8ac1-aa3bd91eae47.png)

[2017-05-31 17:44] MichaelHillcox commented on #20
It's loaded the chat messages so I'd have to assume it's worked. I'll have a look to see whats caused the error issue.

[2017-05-31 17:47] wassie commented on #15
I confirm all above is fixed!

[2017-05-31 17:51] wassie commented on #24
after the clean install its a bit different. It doesn't create a perm locked out, but it has an issue with return url. After logout, the return url is www.DOMAINNAME.com, instead of www.DOMAINNAME.com/ECHELONINSTALLFOLDER

[2017-05-31 17:52] wassie commented on #14
looks good, no issues anymore!

[2017-05-31 17:55] wassie commented on #13
I confirm that this issue is fixed!

[2017-05-31 18:09] MichaelHillcox commented on #24
I'll have a look into it :)

[2017-06-05 10:44] wassie opened #25 "Feature request"
Is it possible to create a menu item that will show all given !follow commands, by who, time etc, like admin bans?

[2017-06-05 13:33] MichaelHillcox commented on #25
Follow? Remind me again what that does

[2017-06-05 13:45] wassie commented on #25
the !follow command will add a line in the following table, if the follow plugin is installed.
The table structure looks like this:
id, client_id, admin_id, time_add, reason

If an admin gives the command '!follow player_id reason_follow' in game while B3 is running, it will add this to this table.
http://forum.bigbrotherbot.net/releases/follow-users-plugin/

[2017-06-05 13:53] MichaelHillcox commented on #25
I'll write a plugin for it :)

[2017-06-05 18:04] wassie commented on #25
lol, the plugin is already there. But to show the table lines in Echelon would be great :)

[2017-06-07 08:00] MichaelHillcox commented on #25
A plugin for echelon I mean.

[2017-06-07 08:22] wassie commented on #25
I see, that would be great!

[2017-06-07 12:18] wassie commented on #19
confirmed that it is fixed!

[2017-06-07 12:19] wassie commented on #16
confirmed that this issue is fixed

[2017-06-07 12:29] wassie commented on #24
logout also means a ban record in the blacklist table. I have to delete the record manually to gain access. And the return url is the same.

[2017-07-09 09:32] wassie commented on #24
hi Michael, did you find any time to work on these issues?

[2017-07-30 05:24] efinst0rm opened #26 "Few Issues"
Hey,

I have found a few issues with current verison.

The biggest one is that after a few clients in the client details will not show up.
Example:
This is the first client.
![tloglqgcmx8p7jfqplmt](https://user-images.githubusercontent.com/7751074/28750874-a5a0c7ea-74bd-11e7-90f5-731dda7148c5.png)

Last Client
Will display no info.
![71vp2vhdw1jcf3iz4rb0](https://user-images.githubusercontent.com/

[2017-07-30 13:10] MichaelHillcox commented on #26
Thanks, when I get some time to look at these I'll get them fixed. I do try to remind people that this system is not yet ready for public use on production servers so try to remember that there will be a lot of issues to come before we get a stable public release.

[2017-08-14 19:50] wassie commented on #21
hi Michael, are you still developing Echelon?

[2017-08-16 04:26] wassie commented on #21
Great Michael, I can imagen that it is a big project! I really hope you will stick to it and be able to finish it!

Van: Michael Hillcox [mailto:notifications@github.com]
Verzonden: maandag 14 augustus 2017 23:50
Aan: MichaelHillcox/Echelon <Echelon@noreply.github.com>
CC: wassie <wassie@caiway.nl>; Author <author@noreply.github.com>
Onderwerp: Re: [MichaelHillcox/Echelon] navigate in chatlog (#21

[2017-08-28 15:26] #18 closed

[2017-09-24 19:09] wassie commented on #25
hi Michael, anything new to test yet?

[2017-09-25 15:30] MichaelHillcox commented on #25
I've got to admit this has totally fallen off of my priority list. The code base is just a pain in the ass to maintain. I'm going to be going over the entire app in full some time soon to address any issues I find but I think throwing it out into the community is the best way for me to find and fix issues along as being able to extend the application itself.

[2017-09-28 12:10] wassie commented on #25
I do understand. To bad tho, it would really be great if those issues would be solved and if there was a stable version of this application. It would also be great if you would get some help. I’m really sorry that I can’t be of any assistance. If I could, I really would help out!

Van: Michael Hillcox [mailto:notifications@github.com]
Verzonden: maandag 25 september 2017 17:30
Aan: MichaelHillcox/

[2017-10-01 17:20] MichaelHillcox commented on #25
Done!

(Wiki page here)[https://github.com/MichaelHillcox/Echelon/wiki/Follows-Plugin]

You'll need to pull from the latest version of my code ( thats the one in the commit code above ). This will include the plugin. Make sure to follow the wiki page and once you've done all that simply go to game settings and enable the Following plugin in the plugins area.

This is a very basic and likely not ve

[2017-10-01 17:22] #25 closed

[2017-10-01 17:27] MichaelHillcox commented on #26
Thanks for pointing some of those out. I'm still yet to completely fix all of the query logic but I've been able to knock off a few of those issues. As for the two photos you've put. I've not been able to reproduce the issue on my end. Although I can see the issue but it won't be fixed for quite some time. I'm gunna go ahead and close this issue but I will come back to it when I do the next sweep

[2017-10-01 17:27] #26 closed

[2017-10-01 17:32] MichaelHillcox commented on #24
@wassie This has been temp fixed for now but redoing the hack protection is high on my list. Thanks for reporting the issue. I've fixed this as of e56558c

[2017-10-01 19:43] MichaelHillcox commented on #10
As of 799f20f we no longer store the b3 database's details inside of the echelon database. This is a pretty big change and will require anyone using this version of echelon to follow this wiki page
https://github.com/MichaelHillcox/Echelon/wiki/Migrating-from-an-old-b3-instance

[2017-10-01 19:44] #10 closed

[2017-10-01 19:45] MichaelHillcox commented on #12
This has now been removed. I'll be revising the system soon so I'm gunna close this issue 👍

[2017-10-01 19:45] #12 closed

[2017-10-01 19:45] #1 closed

[2017-10-01 19:45] MichaelHillcox commented on #23
This is going to be hell!

[2017-10-02 13:18] wassie opened #27 "white screen after installation 2.1.0.1 Alpha"
hi,

I just used the latest version 2.1.0.1 Alpha for a clean install to test the last fixed issues. These are the steps taken:
1. create a database table
2. create a database user
3. import echelon.sql
4. upload all files thru ftp
5. run the installer and fill in all credentials

After this last step while saving, a white screen is showing. When I check the database in table ech_users I can see t

[2017-10-02 16:05] MichaelHillcox commented on #27
There should be a config.php not just a config.tmp if this is the case then I'll have it fixed soon.

[2017-10-02 16:55] wassie commented on #27
yes, the config.php file is there and the config.tmp.php file is there too.

[2017-10-02 17:13] MichaelHillcox commented on #27
Then, I'm not sure. What link do you see the white screen on? and what php version are you using?

[2017-10-02 17:25] wassie commented on #27
install/index.php?t=done is the link.
Can't see anything special in the source too, except some html of course.

I'm using PHP5.4 on this domain.

[2017-10-02 17:36] MichaelHillcox commented on #27
so you've tried going to /index.php instead of install/index.php
I'll rerun the install on my main system and see how things go. :D

[2017-10-02 21:42] wassie commented on #27
I have installed it only by /install. the return link is after setting things like database, database user etc. after hitting the button, the return link is install/index.php?t=done

[2017-10-03 13:51] MichaelHillcox commented on #27
@wassie Thats all fixed for you now and I've also added the option to delete the install dir as well as improved the default config a bit 👍

Turns out for you it was a white screen but for me it was a error screen. In the future could you ensure that your servers php.ini or other such php config has errors shown so you can give me a more helpful error screen than just a white page 😄

[2017-10-03 15:52] wassie commented on #27
sorry for the inconvenience, but my hosting company doesn't allow me to access the php.ini file. But I will ask them if they can change that for me of course!

I will download the latest version of the code and test it again 👍

[2017-10-03 17:42] wassie commented on #27
So I have just tested the latest installation again with these steps:

1. create a database table
2. create a database user
3. import echelon.sql
4. upload all files thru ftp
5. run the installer and fill in all credentials
Nice to see that its going to be possible to delete the install folder thru the browser! But this is also causing a new problem. After hitting that button I'm getting
"Fatal Er

[2017-10-03 20:29] slottybon commented on #23
Glad to see you are still working on this. I am rooting for you! :D

About the template engine. I don't really think it's important and seeing the amount of extra work you get by adding this, I do not think this should be implemented yet?

[2017-10-05 11:53] MichaelHillcox commented on #27
If you can provide me with your apache's error log or just an error screen by enabling errors to show on you php instance then I can get this fixed.

[2017-10-05 13:49] wassie commented on #27
my Apache's error log is empty. I have asked my hosting company to higher up the php.ini errors

I also tried the installation in a different browser, but still the same.
I also tried to manually remove the install folder, but still the same.
at the end I'm getting an error page. When I'm trying to go to the homepage of Echelon with or without index.php, I'm getting a http error 500

[2017-10-05 18:50] MichaelHillcox commented on #27
Yeah, it means something is wrong with php and php is throwing an error as to whats gone wrong but your hosting isn't showing it due to the errors being disabled. I'm not able to reproduce your issue after my fix so I'm not 100% sure on how to fix it thus far.

[2017-10-05 18:51] MichaelHillcox commented on #23
It's only mid on my priority list. It's something I want to work on getting done but it's likely to be something done when I rewrite the system.

[2017-10-05 19:02] wassie commented on #27
tried some last thing and I think I found something. At another domain I have PHP 7 running. Tried to install it at that domain, and after deleting the install folder, it shows the login screen. So this issue is related to PHP 5.4 and can be solved with using PHP 7.

Now I will continue testing the other issues!

[2017-10-05 19:24] wassie opened #28 "After adding chatlogger table, succes and error in one message"
"Success! The chatlog settings have been updatedError! The chatlogs table you asked for does not exist, please select a real table."

This message appears when selecting the chatlog table. Below this message I see the chatlog with the latest chat messages in it, so it seems to work correct.

[2017-10-05 19:33] wassie commented on #24
I confirm that after logout the user isn't locked out anymore. But the return url could have some 'work'. The return url is missing the directory where Echelon is installed and is going to the root of the domain, with login.php at the end. That gives an 404 error.

[2017-10-05 19:34] wassie commented on #28
same as issue #20

[2017-10-05 19:39] wassie commented on #16
not sure what the status is of this issue, but I don't get any admin email after first time installation.

[2017-10-05 20:01] MichaelHillcox commented on #27
Ah, yes. I've moved us onto php7 only for now. I might back support it after the first release.

[2017-10-05 20:01] #27 closed

[2017-10-05 20:03] MichaelHillcox commented on #24
I'll take a look :)

[2017-10-05 20:05] MichaelHillcox commented on #28
To confirm, You've entered the b3 database details inside the config and not through the setup because It's been removed from database now.

[2017-10-05 20:06] MichaelHillcox commented on #16
You no longer get an admin email after first install because I've added the password input to the install... No longer a reason to send an email :P

[2017-10-05 22:07] wassie commented on #28
yes,  I did!

[2017-10-06 10:01] MichaelHillcox commented on #28
I'll investigate :)

[2017-10-08 17:04] MichaelHillcox commented on #28
Hmm, I'm struggling to find why this is happing for you. Are you sure the db table name is correct?

[2017-10-08 18:30] MichaelHillcox commented on #24
I've decided! I'm gunna rewrite it so this issue is no longer valid. Thanks for forcing me to look at the code though haha.

[2017-10-08 18:30] #24 closed

[2017-10-09 17:18] Skillz7z opened #29 "Can't get it working ..."
Hello sir
Am so excited for this ... but i can't get echelon working idk why
I have php 5.6
mysql and apache2 installed
I used the install script and it says installed and give a page for 3 options deleting install folder edit your profile or go to main page
all of them does not work
Look here
That's when i load my page
https://echelon.xtreme-gaming.co/xtremegaming/
Can you help me please ?

[2017-10-09 18:52] MichaelHillcox commented on #29
Current version is only php7. I'd suggest enabling php errors so you can show me the physical error. But I'm pretty sure it's just that your using php5.6 I might modify the code back to only use php5.6 but we'd be losing functionality a little.

[2017-10-09 19:20] Skillz7z commented on #29
Well sir then you have to edit the readme cuz it says it support 5.6 xD i was so happy cuz it does
But can't you make it support both ? or its not possible ?

[2017-10-09 19:23] Skillz7z commented on #29
One more thing this is the error am getting
Fatal error: Cannot use isset() on the result of an expression (you can use "null !== expression" instead) in /*****/inc.php on line 43

[2017-10-09 19:35] wassie commented on #28
yes, because after that the chat log is showing. The strange thing is that first it is success and after it, it shows the error. If you check the message at the top of this issue, you can see that there is no space between the word 'updated' and 'error'. So my guess is that the success message also gets the error in the same part of code. just my 2 cents :)

[2017-10-09 19:36] wassie commented on #24
lol, you're welcome :)

[2017-10-09 19:38] wassie commented on #21
because the navigation part has a low priority, is it possible to give me the mysql script that gives the chat log table? Now I have UNIX timestamps that I can't convert. And I would like it if I can navigate further back in my chat log.

[2017-10-09 21:45] Skillz7z commented on #29
Well sir you know whats the real problem here ?
If you want use php7 then you will not be apple to use xlrstats webfront cuz of cakephp

[2017-10-10 11:13] Skillz7z opened #30 "Database error (Player Info)"
Hello sir
Am just trying to report the stuff that does not working am getting Database error when i click on a player info
Like this
 http://prntscr.com/gvkjmy

[2017-10-10 12:47] Skillz7z commented on #29
Close this post
It worked with php7

[2017-10-10 19:19] #29 closed

[2017-10-10 19:21] MichaelHillcox commented on #28
I'll investigate :)

[2017-10-10 20:18] wassie commented on #28
thanks! Did you also see my comment about the sql script? that would help me a lot!

[2017-10-10 22:01] MichaelHillcox commented on #21
Hmm, I'm not 100% sure on what you mean here. What are you trying to achive?

[2017-10-12 15:58] wassie commented on #21
the page where the first 100 (?) chat records are showing should be built with a sql query. The timestamp of the chat records in the table are in UNIX format, and the timestamp of those records in the chat log page are in readable format. So that means that I could use the sql query to read the chat log table in a better way. does this clarify a bit?

[2017-10-13 13:47] MichaelHillcox commented on #21
Not really... I'm gunna build the chatlog system into echelon because it's basically something everyone uses. I'm not really understand what you are asking from me. Unix time stamps can be very easily converted. Simply Google :) the SQL query to get the is very simple... Something like this `SELECT * FROM chatlogs ORDER BY time_created LIMIT 0,100` that's out of memory.

[2017-10-17 18:44] wassie commented on #21
the right select is: SELECT * FROM chatlog ORDER BY msg_time LIMIT 0,100
The thing is that the outcome is in Unix time format, like: 1492643768

I found an example while using Google:
select FROM_UNIXTIME(UNIX_TIMESTAMP(),'%a %b %d %H:%i:%s UTC %Y');
output will be:
'Wed Feb 05 05:36:16 UTC 2014'

I don't have much experience with SQL to complete this select script. I thought that this script woul

[2017-10-22 11:13] Skillz7z commented on #30
Please close this ticket problem solved 👍

[2017-10-22 11:13] #30 closed

[2017-10-22 11:15] Skillz7z opened #31 "xlrstats public table"
Hello sir i was wondering if you could make an xlrstats tables like the public banlist it would be better
Also give us more options to edit the panel like adding players map "Geo Map" to change permissions so guest can see them without registering and be added to list like public banlist

[2017-11-03 15:10] wassie commented on #21
hi Michael, did you find this part of the code somewhere?

[2017-11-15 15:47] wassie commented on #31
good suggestion!

[2017-11-15 15:58] MichaelHillcox commented on #31
So just public XLRStats? if so then the guys at b3 who created XLR also have their own web based system for showing each players XLRStats

[2017-11-15 16:03] wassie commented on #31
yes, that webbased tool could work too, but its difficult to integrate it in a website, because its a stand alone application.

[2017-11-15 16:43] wassie commented on #31
maybe not the right place to ask, but are there some new things that I can test?

[2017-11-18 09:30] Skillz7z commented on #31
Well thanks for the interest in my idea
i think you know this panel ? http://cod4-server.info/
an echelon and xlrstats
@MichaelHillcox

I have to remind you if you want to attach the XLRstats you have to read this
As am hosting many servers for the same clan am using same Database but different XLRstats tables per server like 28960_xlr_body... 28961_xlr_body and so ...

I wish you have understood

[2017-11-18 10:04] Skillz7z commented on #31
Actually i have many suggestions that make life easier while using this web front
Like adding games from website not like we do usually now go to config and stuff like this adding multi games and adding database connection for the game from the website no need to open configs ...

[2017-11-18 10:56] Skillz7z commented on #31
One more thing am using a subdomain *echelon.xtreme-gaming.co* and inside that subdomain 2 folders "2 Echelons" *xg , orion* When i logout from one of them it send me back to *echelon.xtreme-gaming.co/login.php* why this happen ? why i does not send me to echelon.xtreme-gaming.co/xg/login.php

[2017-11-18 11:24] Skillz7z commented on #31
I found another problem in registering ... the problem is you have to fill all the fills even if u have registering key ... and if you don't have you have to put one even if its only normal register ...

[2017-11-18 14:03] MichaelHillcox commented on #31
@Skillz7z I understand your want for the XLR stats but as it's only designed to be a plugin for b3 I can't justify changing a large amount of the Echelon code base to support the sort of system you are explaining. The website you've provided above is one I've seen before, from what I can tell it's simply just a system build upon the b3 database. It's a slimed down version of echelon. It's some wha

[2017-11-18 14:30] Skillz7z commented on #31
Yea i understand you but it was a suggestion not more and again am telling you i like your project

[2017-11-18 14:47] Skillz7z opened #32 "Some bugs"
Hello @MichaelHillcox am going to list for you some bugs or maybe idk but i see them bugs xD

Registering :
First \\ When you create new register key and an "E-mail" passed on that key you just have to put it in two fields these fields are the place where you have to put the key and email if exist so now (If exist you just put them and pass the webpage but no the other field that about "If you don

[2017-11-18 15:18] MichaelHillcox commented on #32
Thanks for this. I will have a look and try to see what is causing some of these issues. I've not got a huge amount of time at the moment but I will do it some time soon.

As for your suggestions:
1. Not really sure on what you mean here? You make a game and then add servers to it. I'm not sure on why you'd want to have more than one game under a game? or do you want it so you can create them fast

[2017-11-18 15:25] Skillz7z commented on #32
What am telling here is to add more than on database for more servers ...
Like add two databases one for public server and another for a private server

Well all the above is good to me xD but did not understand the geo map about ** i will be due to the link provided is to a paid service**

[2017-11-18 15:29] Skillz7z commented on #32
and btw whats the point of adding servers ?

[2017-11-18 15:30] Skillz7z commented on #32
also @MichaelHillcox Please take a look on this PLZ [http://prntscr.com/hc3ob9](url)
It annoys me really ........

[2017-11-18 15:33] MichaelHillcox commented on #32
@Skillz7z I can't fix it without knowing the error. Please sure that you have your php errors switched on so I can see what the problem is with that part of the site. Please can I also confirm that you're not using this version as a production ready site? this should not be deployed in the public's domain yet. We are still in an untested and unstable stage of development.

[2017-11-18 15:41] Skillz7z commented on #32
@MichaelHillcox  tell me exactly what logs do you want ? so i just search and pickup the logs for you ?

[2017-11-18 15:44] MichaelHillcox commented on #32
@Skillz7z It would seem that you don't know how Echelon is designed to be used... Which is understandable. It's not my software originally but here is a quick tutorial on how to add servers.

We have a game -> server relation. A single game, lets say CoD4 can have a game in Echelon, You can give it a name like "Public CoD4". Once you've created your game, You will then add your servers with their

[2017-11-18 15:46] MichaelHillcox commented on #32
To enable php errors please follow this
https://stackoverflow.com/questions/1053424/how-do-i-get-php-errors-to-display#answer-21429652
Then screenshot me the same page with it's error. If no errors show then It'll be something else.

[2017-11-18 15:51] Skillz7z commented on #32
well display_errors already on but it does not show any thing

[2017-11-18 16:19] Skillz7z commented on #32
@MichaelHillcox well bro i noticed that i have added another game and edited the game ID and kept the same DB Username and password that worked but when i back to the old ID it give database error again

[2017-11-18 17:53] MichaelHillcox commented on #32
check the ID of your other game. When you click the drop down and click on your first game your game ID will show up in the URL something like `&game=GAMEIDHERE` if you see the game ID go and check if you've also added that one into your config. I do agree. It's a bitch of a process at the moment but without the time at the moment, I can't improve it. The system isn't ready for use at the moment a

[2017-11-18 17:58] MichaelHillcox commented on #32
@Skillz7z I'll look into the issue with XLR

[2017-11-18 19:52] Skillz7z commented on #32
@MichaelHillcox Thanks bro i will keep you up-to-date for any other problems so we can get the official release asap 💯

[2017-12-17 11:56] wassie commented on #31
hi Michael, did you made any progress with the Echelon project?

[2017-12-17 13:04] MichaelHillcox commented on #31
A little :P I've been messing with it but I've been focusing on different tech at the moment. I'm thinking that if I was to remake the project using a js framework with a simple php restful backend then we could achive a really quick user interface ( website ) and an even quicker backend whist having the benefit of a clean codebase :D This is just an idea but I want to use vue more so I might try

[2017-12-17 14:55] wassie commented on #31
if it's awful, I can understand your wish to rewrite it. I have just a little coding knowledge, so I can't judge it at all. I really hope this project comes to live and will succeed one of these days. The current version of Echelon is so limited.

[2017-12-24 16:57] Skillz7z opened #33 "Some suggestions"
Hello sir :)
It's me again
I was wondering why the heak should echelon has that anti hack shit ... like get locked if 3 failed logins xD if he failed to login then he will never login xD

Also if you opened multi windows it will warn you as a hacker plz dude ... u are a cod4 player and host ur servers i guess u use one million window in same browser xD

Also i suggest u to add this i got it from g

[2017-12-24 17:34] MichaelHillcox commented on #33
I hate the fact that things like that can be done in php. No web language should have system executing abilities and this is no exepetion. I won't be implementing that form of it but seeing as the db is so small and simple, I'll just end up hard coding it or even simpler, Reading the code from the sql file and running the correct query commands to make said things happen. It'll give me a much bett

[2017-12-24 18:24] MichaelHillcox commented on #31
@wassie My thinking at this point is that I want to completely redo Echelon to extend it's functionality. So, for me to do that, I need a solid plan for what the next Echelon will do. Would you like to hit me up at any of the follow social links https://mikey.pro ( They're all there ) so we can descuss what a possible future echelon might be made up of? Would be great to have a chat.

Anyone else

[2018-01-04 19:08] Skillz7z opened #34 "Database error"
Warning: require(app/classes/B3Database.php): failed to open stream: No such file or directory in /****/app/bootstrap.php on line 148

Fatal error: require(): Failed opening required 'app/classes/B3Database.php' (include_path='.:/usr/share/php') in /****//xtreme/app/bootstrap.php on line 148

[2018-01-04 19:11] MichaelHillcox commented on #34
Thanks :D. The version of the code you are using is very unstable. I wouldn't suggest using it on a public domain

[2018-01-17 16:18] #34 closed

[2018-01-17 16:22] MichaelHillcox commented on #31
Okay, I'll do it. I'll add a public xlrstats place :P

[2018-01-17 16:23] #22 closed

[2018-01-17 16:23] #23 closed

[2018-01-17 16:24] MichaelHillcox commented on #32
@Skillz7z I've forgotten what I was doing with this. Could you pull my latest code and see how many of the above things are still an issue. Thanks :D

[2018-01-17 21:55] Skillz7z opened #36 "Totally don't understand"
What i have to write inside the index.html exactly ....
i really don't understand .................................

and why is it looking like this ??
http://prntscr.com/i1wknl

[2018-01-18 17:05] MichaelHillcox commented on #36
Opps, I completely forgot about the install :P

[2018-01-18 17:18] MichaelHillcox commented on #36
I'll add this to the wiki but to help secure the system a little bit more we now have a public directory. What that does is allow us to lock off all of the other directories like, `app/` for instance. This means no matter what people can't go through and see all of the config data etc. This brings me closer to being able to store more sensative data inside files that are out of the accessable scop

[2018-01-18 17:23] MichaelHillcox commented on #36
@Skillz7z Sorry about that, It was a complete oversite while I was making a lot of changes to the core of the app.

[2018-01-18 19:57] Skillz7z commented on #36
No problem dude you are the best :)

[2018-01-18 20:09] #36 closed

[2018-01-18 20:13] Skillz7z opened #37 "Some issues you need to know"
Well dude you have many problems over here
Sorry i can't follow your form for reporting problems but i will describe for you everything

First you have permission problems in install/index.php
and i thought its about chown -R www-data:www-data /*******
		/* Create log file
		if( !file_exists($echelon_dir."app/.bin/") ) {
			mkdir($echelon_dir . "app/.bin", 0777, true);

		    if( !file_exists($ech

[2018-01-18 20:40] MichaelHillcox commented on #37
`Route xtreme doesn't exist in this scope` Follow my instructions for subdirectories. You need to point the root at the public file. Not navigate to public.

As for file perms. Thats you you dude :P I can't make your server have the right perms for a folder.

I'll look at the LegacyDatabase one. What directory is that in?

[2018-01-18 20:43] Skillz7z commented on #37
require '../../app/classes/LegacyDatabase.php';
$file_read = '../../app/config.tmp.php';
if( !file_put_contents("../../app/config.php", $tmp) )
These are inside the install/index.php
Now am getting
The requested URL /xtreme/public/login was not found on this server.

[2018-01-18 20:45] MichaelHillcox commented on #37
`The requested URL /xtreme/public/login was not found on this server.` This isn't a issue of mine. You need to make sure public is the root in the webserver config. You need to make sure /xtreme/public is the route so you would navigate to /xtreme/login

[2018-01-18 20:48] MichaelHillcox commented on #37
Pull a new version of my code. That'll fix your directory issues but you need to look at how your webserver is configured for the /public domain

[2018-01-18 20:48] Skillz7z commented on #37
i reinstalled everything and done the up things

well i changed the whole config of apache2 to DocumentRoot /***/echelon/public

and now i get this https://echelon.xtreme-gaming.co/login

[2018-01-18 20:50] MichaelHillcox commented on #37
Add this line to your apache config
`DirectoryIndex index.php`

[2018-01-18 20:53] Skillz7z commented on #37
You mean inside apache2.conf ?

[2018-01-18 20:56] MichaelHillcox commented on #37
Yeah

[2018-01-18 21:01] Skillz7z commented on #37
Already done it and still not working

`<IfModule ******>
	<VirtualHost *******>
		DocumentRoot /***************/public
		ServerName echelon.xtreme-gaming.co
                DirectoryIndex index.php
		LogLevel warn
		ErrorLog ${APACHE_LOG_DIR}/*********log
		CustomLog ${APACHE_LOG_DIR}/*******log combined
		DirectoryIndex index.php index.html
		RewriteEngine on
		SSLCertificateFile /**************

[2018-01-18 21:08] Skillz7z commented on #37
Already done but did not work

[2018-01-18 21:09] Skillz7z commented on #37
and btw i got 3 guys trying to understand the part where u says about if am using directories inside the subdomain and no one understood i think you have to provide for me some examples xD

[2018-01-18 21:14] MichaelHillcox commented on #37
You got a discord / teamspeak / other?

[2018-01-18 21:14] Skillz7z commented on #37
Discord yes

[2018-01-18 21:15] MichaelHillcox commented on #37
add me :P https://mikey.pro/?p=MiKeY#3704

[2018-01-18 21:20] Skillz7z commented on #37
Done

[2018-01-23 20:48] wassie commented on #31
I just poked you on Skype :)

[2018-01-31 21:07] efinst0rm opened #39 "Setting up new games error."
Hi,

So I decided to test this "Now more stable than ever" build. After getting everything setup I added a game and then followed to add the db info and id in config.php.

 Now i get this error
`B3 Database Connection Error: (#2005) Unknown MySQL server host 'G' (2)`

I know the DB info is correct since it works on my other install / checked the b3 config.

Thanks.

[2018-02-01 09:46] MichaelHillcox commented on #39
Unknown Server host 'G' Fuck, thats an intresting one. Can you provide me with a full stack log from php, this means i'll need the last 30 ish lines of your error.log ( apache or nginx ).

Could you also redact your db password and send me a copy of your config.php. Feel free to DM me this info if you'd prefer. You can get me at any of my socials at mikey.pro

[2018-02-06 02:45] efinst0rm commented on #39
Hey sorry for the late replay.

https://gist.github.com/efinst0rm/e94aa8d43dc6d5a38c5a8afb017d75a2

https://gist.github.com/efinst0rm/6116ec84403adf8aceffb62838641ada

[2018-02-06 17:01] MichaelHillcox commented on #39
No worries. What php version are you using?

[2018-02-06 17:41] efinst0rm commented on #39
I actually had to update my php since it said it required 7.0 so I'm running 7.1.3

[2018-02-07 02:45] efinst0rm commented on #39
Little update if I hard code the DB into the bootstrap.php   ($db = B3Database::getInstance) it will work perfectly fine.

[2018-02-07 18:57] MichaelHillcox opened #40 "Refactor how adding games works"

[2018-02-09 09:37] MichaelHillcox opened #41 "Improve and Document a better Plugin's system"

[2018-02-09 09:38] MichaelHillcox commented on #22
This has been completed

[2018-02-14 21:48] MichaelHillcox opened #42 "Update to bootstrap 4"
Update to Bootstrap 4 when it is out of 4.0

[2018-02-16 22:28] MichaelHillcox opened #43 "Rework login logic"

[2018-02-28 09:25] Explosive12 opened #44 "Echelon not installing"
I have followed everything but after pressing install its showing like this :

**This page isn’t working
echelon.coolpings.ga is currently unable to handle this request.
HTTP ERROR 500**

Maybe the problem with this caz I dont know how to rewrite URL etc

**DocumentRoot "/webserver/echelon/public"
ServerName echelon.example.org
<Directory "/webserver/echelon/public">
    RewriteEngine on
    Rewri

[2018-02-28 14:49] MichaelHillcox commented on #44
Looks like you've just kept me default example urls. You need to change the `DocumentRoot` to where your echelon has been put on your server. You need to change `ServerName` to `echelon.coolpings.ga` and you need to change your `Directory` to match the `DocumentRoot`

[2018-02-28 15:27] Explosive12 commented on #44
Sir , Where I have to change this things ? in .htaccess or any other files ??
Sry I am new to this things

[2018-03-01 14:51] Explosive12 commented on #44
@MichaelHillcox  Waiting for the reply :|

[2018-03-01 18:01] MichaelHillcox commented on #44
I very clearly explained what you need to do.

[2018-03-02 14:01] Explosive12 commented on #44
@MichaelHillcox
Sir , I am asking that where I need to add these lines ? Which file ? for example .htaccess etc

[2018-03-02 14:49] MichaelHillcox commented on #44
Oh, Thats simple :P You want to put it in your apache config file. Not 100% sure on where it will be but somewhere in `/etc/apache2/` do some googling

[2018-03-02 15:08] Explosive12 commented on #44
Its Still showing like this after Press INSTALL but the tables have created in the phpmyadmin :/
[code]

[2018-03-02 15:21] MichaelHillcox commented on #44
What php version are you running?

[2018-03-02 15:25] Explosive12 commented on #44
7.1

[2018-03-02 15:27] MichaelHillcox commented on #44
Send me an extract from your error.log and your access.log... The last 300 lines if possible.

[2018-03-02 15:30] Explosive12 commented on #44
Searching for them .. I will send soon :P

[2018-03-02 17:04] Explosive12 commented on #44
[access.log](https://github.com/MichaelHillcox/Echelon/files/1775992/access.log)
[error.log](https://github.com/MichaelHillcox/Echelon/files/1775993/error.log)

[2018-03-02 17:16] MichaelHillcox commented on #44
Thanks for that. I've removed your links because of the ip's being shown but I've seen them :P
Right, looks like somethings wrong with the querying. That would mean something like your database has been setup wrong.

[2018-03-18 19:53] MichaelHillcox opened #45 "Make chatlog live"

[2018-05-08 19:51] MichaelHillcox opened #47 "Styling not done for editing a echelon user"

[2018-05-08 19:54] MichaelHillcox commented on #44
I've figured it out and it will be fixed. Thanks for letting me know.

[2018-05-08 19:57] MichaelHillcox opened #48 "Emailing needs support for SMTP"

[2018-05-08 19:57] MichaelHillcox opened #49 "Invite users instead of registration keys"

[2018-05-08 19:58] MichaelHillcox commented on #39
This needs investigating

[2018-05-13 14:14] #47 closed

[2018-05-18 13:01] AlexanderCurl opened #50 "php7.2 error"
`What URL did this happen on`
- <DOMAIN>/server-settings

`Description of the issue`
- Unable to create new database table ech_games, after addeda gameserver, and the picklist remains empty.

`Does it happen every time?`
- [X ] Yes
- [ ] No

`Please include a pastebin of the php error in full if one was displayed`
- https://pastebin.com/2sqqBx6g

`Please provide your environment information ( Plea

[2018-05-18 23:37] MichaelHillcox commented on #50
I'm pretty sure I know what this is. If you wanna try this version of the code https://github.com/MichaelHillcox/Echelon/tree/0e4f3195e032b166d7eeeee3dbdf567dec83e30e and let me know how it goes.

This version is still in an unstable continual development state and I'm yet to fix a lot of the existing issues. Thank you for you issue report :D

[2018-05-20 16:53] AlexanderCurl commented on #50
Im gonna check it out now.

[2018-05-20 16:59] AlexanderCurl commented on #50
Nop, still the same.

[2018-05-21 20:36] MichaelHillcox opened #51 "Permission overhaul"
Implement a ACL styled permission system

[2018-05-31 11:12] MichaelHillcox opened #52 "Add admin panel, Remove random setting pages"

[2018-05-31 11:15] MichaelHillcox opened #53 "Rewrite Installer"
- [ ] Step based
- [ ] Add email settings step
- [ ] Add invite page for admins via email
- [ ] Add first game in installer ( optional )
- [ ] Create a better settings file
- [ ] Auto detect settings and install state

[2018-05-31 11:17] MichaelHillcox commented on #53
Part of #44 #27

[2018-05-31 11:21] MichaelHillcox opened #54 "Implement a complete CSRF token system with verification"
- [ ] Remove old system
- [ ] Implement system based on standard prevention https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)

Related to #43

[2018-06-20 08:52] MichaelHillcox opened #55 "DI implementation"
I think I need to start porting the codebase over to a stronger language / framework

[2018-08-03 15:55] jackmiller85 opened #56 "Can not add games"
After installed echelon , login as admin and go to game setting , after added new game on game-settings page , all is corectly added . But nothing happen , dont have game just added , and go to page banlist got error 500 .

[2018-08-03 16:09] MichaelHillcox commented on #56
Hi, Currently this version of Echelon is in an very unstable state and isn't ready to be running on a production server

[2018-08-03 16:10] jackmiller85 commented on #56
its just test install , but for add game after finish do not show ID :  http://prntscr.com/kebwuz

[2018-08-03 16:11] MichaelHillcox commented on #56
Haha, I know of this one :P If you check your database and look at games, you'll see the id that you need to use

[2018-08-03 16:13] jackmiller85 commented on #56
yes i did it too before come here , but the problem is there is nothing on this table : http://prntscr.com/kebyeq

[2018-08-03 16:17] MichaelHillcox commented on #56
Oh, cool, it completely failed. You can manually insert into that table, I'll keep this as a bug report and see what I can do to fix this issue 👍

[2018-08-03 16:21] jackmiller85 commented on #56
How to insert manual ? can you give me 1 example ?

[2018-08-03 16:30] MichaelHillcox commented on #56
Best thing you can do is wait until I fix it offically :P

[2018-08-03 16:31] jackmiller85 commented on #56
ok , then stop test ^^ thanks for your time

[2018-09-20 08:18] MichaelHillcox opened #57 "Rewrite router / implement vendor"

[2018-10-27 17:53] #32 closed

[2018-10-27 17:54] #55 closed

[2018-10-27 17:55] #17 closed

[2018-10-27 17:55] #42 closed

[2018-10-27 17:55] #49 closed

[2018-10-27 17:55] #44 closed

[2018-10-27 17:56] #37 closed

[2018-10-27 17:56] #28 closed

[2018-10-27 19:45] wassie commented on #57
hi, are you still developing this project? Is it already stable enough to try out?

[2018-10-28 00:18] MichaelHillcox commented on #57
I've currently got a stack of on going project higher than myself so I'm trying to work my way through it. It's why i've started closing some less important issues. I really want to get this project to a stable state so I can do minimal bug fixes over time so Echelon is slowly going up the priority list but it's got so much legacy code that it's just hell to work with...

I will be focusing on thi

[2019-01-07 11:22] #21 closed

[2019-01-07 11:22] #31 closed

[2019-01-07 11:22] #33 closed

[2019-01-07 11:22] #39 closed

[2019-01-07 11:22] #40 closed

[2019-01-07 11:22] #41 closed

[2019-01-07 11:22] #43 closed

[2019-01-07 11:22] #45 closed

[2019-01-07 11:23] #48 closed

[2019-01-07 11:23] #50 closed

[2019-01-07 11:23] #51 closed

[2019-01-07 11:23] #52 closed

[2019-01-07 11:23] #53 closed

[2019-01-07 11:23] #54 closed

[2019-01-07 11:23] #57 closed